{
  "extends": [
    "ringcentral-typescript"
  ],
  "rules": {
    "import/no-unresolved": "off", // to capture direct deps in TS
    "no-undef": "off", //FIXME @see https://github.com/eslint/typescript-eslint-parser/issues/75
    "no-unused-expressions": "off", // tests
    "react/sort-comp": "off",
    "typescript/camelcase": "off", // OAuth responses
    "typescript/no-unused-vars": "off",
    "typescript/explicit-function-return-type": "off",
    "typescript/no-explicit-any": "off",
    "typescript/no-var-requires": "off" // conditional require in Externals
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.6.0"
    }
  }
}