<form class="panel panel-default form-horizontal" ng-submit="save()" role="form">

    <div class="panel-heading"><h1 class="panel-title">Application Key</h1></div>

    <div class="panel-body">

        <div class="form-group">
            <label for="appKey" class="col-xs-2 control-label">APP Key</label>

            <div class="col-xs-10">
                <input type="text" class="form-control" id="appKey" placeholder="APP Key" ng-model="appKey" ng-required>
            </div>
        </div>

        <div class="form-group">
            <label for="appSecret" class="col-xs-2 control-label">APP Secret</label>

            <div class="col-xs-10">
                <input type="text" class="form-control" id="appSecret" placeholder="App Secret" ng-model="appSecret" ng-required>
            </div>
        </div>

        <div class="form-group">
            <label for="server" class="col-xs-2 control-label">Server</label>

            <div class="col-xs-10">
                <input type="text" class="form-control" id="server" placeholder="https://platform.ringcentral.com" ng-model="server" ng-required>
            </div>
        </div>

        <div class="form-group">
            <p ng-show="isTokenValid" class="col-xs-offset-2 col-xs-10 form-control-static text-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
                You are currently logged in, access token will be revoked so you will be logged out.
            </p>
        </div>

    </div>

    <div class="panel-footer text-center">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
        <button type="button" class="btn btn-link" ng-click="back()">Cancel</button>
    </div>

</form>

