#logo {
    display: inline-block;
    background: url(https://ringcentral-tutorials.github.io/ringcentral-embeddable-demos/assets/rc-developers_logo.png) no-repeat;
    background-size: contain;
    width: 300px;
    height: 27px;
}
