name: GitHub Pages release
on:
  push:
    branches:
      - master
      - gitHubPages
  pull_request:
    branches:
      - master
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version}}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force